@tailwind base;

@tailwind components;

@tailwind utilities;

.max-w-sm{
    margin-top: 2%;
    margin-bottom: 2%;
}

h2{
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.footerP{
    position: fixed;
    bottom: 10px;
    text-align: center;
    left: 45%;
}
a{
    color: #5353b7;
}