<template>
  <div>
    <div class="max-w-sm rounded overflow-hidden shadow-lg" v-show="!isEventShowing">
      <img class="w-full" :src="'/storage/artists/' + artist.photo_url" :alt="artist.name" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{artist.name }}</div>
        <p class="text-gray-700 text-base">{{ artist.facebook_url }}</p>
      </div>
      <div class="px-6 py-4">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
        >{{ artist.email }}</span>

        <button
          @click.prevent="artistEvents(artist.id)"
          class="my-10 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
        >Show Events</button>
      </div>
    </div>

    
    <h3 v-show="isEventShowing">Event's Details</h3>

    <div class="events" v-show="isEventShowing"  v-for="(event, index) in events" :key="event.id">
    
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
      
        <div class="px-6 py-4">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >Country: {{ event.country }}</span>
        </div>

        <div class="px-6 py-4">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >City: {{ event.city }}</span>
        </div>

        <div class="px-6 py-4">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >Venue: {{ event.venue }}</span>
        </div>

        <div class="px-6 py-4">
          <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
          >Date: {{ event.date }}</span>
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["artist"],

  data() {
    return {
      events: "",
      isEventShowing: false
    };
  },
  methods: {
    artistEvents: function(artistId) {
      axios
        .get("/api/find/" + artistId + "/events")

        .then(res => {
         
         this.events = res.data;

          this.isEventShowing = true;

          this.$emit('isEventShowing');

        })
        .catch(error => {});
    }
  }
};
</script>

<style>
</style>