<template>
  <div>
    <form class="flex-1">
      <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="text"
          placeholder="Artist Name i.e Kadin"
          aria-label="Full name"
          v-model="searchArtistName"
        />
        <button
          class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
          type="submit"
          @click.prevent="submit"
        >Search</button>
        <button
          class="flex-shrink-0 border-transparent border-4 text-teal-500 hover:text-teal-800 text-sm py-1 px-2 rounded"
          type="button"
          @click.prevent="clear"
        >Clear</button>
      </div>
    </form>

    
    <h3 v-show="isSearched && searchArtistName.length > 0">{{ artists.length}} results founds for {{searchArtistName}}</h3>

    <h3 v-show="isSearched && searchArtistName.length == 0">Showing all the artist</h3>

    <div v-for="(artist, index) in artists" :key="artist.id" v-if="artist" class="flex  md:block  xl:flex" @isEventShowing="artists == false ">
      <artist :artist="artist"></artist>
    </div>
    
  </div>
</template>

<script>
import artist from "./Artist";

export default {
  components: { artist },
  data() {
    return {
      artists: false,
      searchArtistName: "",
      isSearched: false
    };
  },
  methods: {
    submit: function() {
      axios
        .get("/api/find/artists?name=" + this.searchArtistName)

        .then(res => {
          this.artists = res.data;

          this.isSearched = true
        })
        .catch(error => {});
    },
    clear: function(){

      this.artists = false

      this.searchArtistName = ""

      this.isSearched = false
    }
  },
  mounted() {}
};
</script>

<style>
</style>